# Ignore configuration files that may contain sensitive information.
sites/*/local.settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# CiviCRM config
sites/*/civicrm.settings.php

# Ignore cache folder created by boost
/cache

# Do not include dreamhost staging password protect file
.htpasswd

# Ignore sassy-ness
.sass-cache
