/* Overridden styles from titan theme */

/* $Id: reset.css,v 1.3 2010/08/16 14:36:19 jarek Exp $ */

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: bold;
}

/* Tempoorary styles i.e. Quick fixes for initial site. */
#branding img { height: 100px; }
h4 { margin-top: 30px; }
/* End Temporary styles */
#branding { padding: 15px 0px 15px 13px;}

.form-item:first-child { margin-top: 20px;}

body.page-user-register .tabs { display: none;}

body.front .node-title { display: none;}
#node-1 { padding-top: 0px;}

.node {
  border-top: none;
  padding-top: 0;
}

/* User profile form  */
#user-profile-form #edit-contact, #user-profile-form #edit-timezone {
    display: none;
}

div.form-item .error {
    border: 2px solid #ff0000;
}

#user-profile-form .form-item:last-child {
    margin-bottom: 0px;
}

#user-profile-form fieldset {
    margin-top: 2px;
}

#user-profile-form th, #user-profile-form td  {
    padding: 0px;
}

#user-profile-form th {
    text-align: center;
}

#field-skip-day-values .form-item:first-child  {
    margin-top: 2px;
}

th label {
    font-size: 2em;
}

.container-inline-date .date-padding {
    padding: 0px;
}

#field-skip-day-values input {
    width: 110px;
}

div.form-item-field-first-name-und-0-value {
    width: 270px;
    float: left;
    margin-right: 30px;
}

div.form-item-field-first-name-und-0-value.form-item {
    margin-top: 0px;
}

#login_name_or_link {
  color: #FFF;
  float: right;
  font-size: 1.5em;
  position: relative;
  top: 90px;
}

#login_name_or_link a {
    color: #B0DF5C;
    font-weight: bold;
}
#login_name_or_link a:hover {
    text-decoration: underline;
}
