/* line 1, ../scss/mailchimp.scss */
#mailchimp_signup_wrapper {
  display: none;
}
/* line 5, ../scss/mailchimp.scss */
#mailchimp_signup_wrapper #mc_embed_signup .mc-title {
  text-align: center;
  font-size: 1.3em;
}
/* line 10, ../scss/mailchimp.scss */
#mailchimp_signup_wrapper #mc_embed_signup .mc-field-group {
  padding-bottom: 0;
}
/* line 12, ../scss/mailchimp.scss */
#mailchimp_signup_wrapper #mc_embed_signup .mc-field-group input {
  margin-bottom: 0;
}
